@model Sistema.Modelos.Mantenimiento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Mantenimiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMantenimiento" class="control-label"></label>
                <input asp-for="TipoMantenimiento" class="form-control" />
                <span asp-validation-for="TipoMantenimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TallerId" class="control-label">Selecciona un taller</label>
                <select asp-for="TallerId" class="form-control" asp-items="ViewBag.Taller">
                    <option value="">-- Seleccione un taller --</option>
                </select>
                <span asp-validation-for="TallerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CamionId" class="control-label">Selecciona un camion</label>
                <select asp-for="CamionId" class="form-control" asp-items="ViewBag.Camion">
                    <option value="">-- Seleccione un camion --</option>
                </select>
                <span asp-validation-for="CamionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
